{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1 class="text-center pt-2">Bienvenue sur mon site !</h1>
    <hr>
    <br>
    <div class="text-center text">
        <p>Ce site est le premier site de mon portfolio, et même le premier site que je crée. Il est fait avec le framework symfony avec une base de données MySQL.</p>
        <p>Grâce à lui vous allez pouvoir voir vos amis Steam et leurs statistiques sur Counter Strike Global Offensive. Par la suite j'aimerais pouvoir afficher les statistiques sur d'autres jeux.</p>
        <p>Pour l'instant, ce site fonctionne avec l'API de steam mais je pense que d'autres viendrons par la suite telle que l'API de Riot Games pour pouvoir afficher les stats d'encore plus de jeux ! </p>
    </div>

{% endblock %}
